body, html {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #999999;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif; }

img {
  border: 0; }

a, a:link, a:visited {
  color: #999999;
  text-decoration: none;
  outline: 0; }

a:hover {
  text-decoration: underline; }

a.lg_link {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline; }

p {
  margin: 15px 0 0 0;
  padding: 0; }

.bullet {
  background: url(../images/bullet.gif) 38px 6px no-repeat;
  display: block;
  padding-left: 46px; }

#content {
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;
  width: 950px;
  z-index: 50; }

#header {
  float: left;
  padding: 24px 0 12px 22px;
  width: 928px; }

#header #logos {
  float: left; }

#header #logos img {
  display: block;
  margin-bottom: 2px; }

#header #email {
  display: block;
  height: 18px;
  overflow: hidden; }

#header #email img {
  margin-top: -18px; }

#header #email:hover img {
  margin-top: 0; }

#header #rnav {
  clear: none;
  float: right;
  margin-right: 7px;
  position: relative;
  top: 38px;
  width: 370px; }

#rnav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#rnav li {
  cursor: pointer;
  float: left;
  height: 18px;
  margin: 0 0 0 10px;
  overflow: hidden;
  padding: 0;
  position: relative; }

#rnav #contact {
  height: auto;
  overflow: visible; }

#rnav li a img {
  margin-top: -18px; }

#rnav li a:hover img, #rnav .current a img {
  margin-top: 0; }

#rnav #contactLnk {
  display: block;
  height: 18px;
  overflow: hidden; }

#rnav #contactLnk img {
  margin-top: -18px; }

#rnav #contactLnk:hover img, #rnav #contact:hover #contactLnk img {
  margin-top: 0; }

#rnav li ul {
  background-color: white;
  height: 0;
  overflow: hidden;
  padding: 14px 0 0 0;
  position: absolute;
  top: 16px;
  left: -6px;
  width: 90px; }

#rnav li ul li {
  float: none;
  height: 19px;
  margin: 3px 0;
  overflow: hidden;
  text-align: center; }

#rnav li ul li img {
  margin-top: -19px; }

#rnav li ul li:hover img {
  margin-top: 0; }

#work {
  float: left;
  padding: 0 14px 100px 14px;
  width: 922px; }

#work .row {
  float: left;
  margin: 24px 0 8px 0; }

#work .project {
  display: inline;
  float: left;
  height: 168px;
  margin: 0 14px;
  position: relative;
  width: 125px; }

#work .project .title, #work .project .description {
  display: none; }

#work .project img {
  position: absolute;
  z-index: 10; }

#work .project img.on {
  display: none;
  z-index: 100; }

#about, #accomplish {
  float: left;
  margin-top: 19px;
  padding: 0 43px 100px 43px;
  width: 864px; }

#accomplish ul {
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0; }

#accomplish li {
  background: url(../images/bullet.gif) 0 5px no-repeat;
  margin: 0 0 20px 0;
  padding: 0 0 0 8px; }

#jquery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  min-height: 100%; }

* html #jquery-overlay {
  position: absolute; }

#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0; }

#jquery-lightbox a img {
  border: 0; }

#lightbox-container-image-box {
  position: relative;
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 0 auto; }

#lightbox-container-image {
  margin: 10px; }

#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

#lightbox-nav {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 10; }

#lightbox-container-image-box > #lightbox-nav {
  left: 0; }

#lightbox-nav a {
  outline: 0; }

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
  float: left;
  height: 11px;
  margin: 0 4px;
  width: 6px; }

#lightbox-container-image-data-box {
  font: 11px Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 10px 10px 0; }

#lightbox-container-image-data {
  padding: 0 10px;
  color: #666666; }

#lightbox-imgTitle {
  clear: none;
  float: left;
  font-size: 13px;
  margin: 14px 0 0 8px;
  text-align: left;
  width: 50%; }

#lightbox-container-image-data #lightbox-image-details {
  float: left;
  position: relative;
  text-align: left;
  width: 95%; }

#lightbox-image {
  margin-top: 10px; }

#lightbox-image-details-caption {
  font-weight: bold; }

#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  margin-top: 0;
  padding-bottom: 1em;
  width: 100%; }

#lightbox-secNav-btnClose {
  width: 10px;
  float: right;
  margin: 8px 8px 4px 0; }

/*admin form styles */
.admin a:hover {
  color: black; }
.admin form {
  width: 350px; }
.admin input[type=text], .admin textarea {
  margin-bottom: 20px;
  width: 350px; }
.admin label {
  border-top: 1px solid #cccccc;
  display: block;
  font-size: 1.1em;
  padding-top: 8px;
  margin-bottom: 8px; }
.admin #work .project {
  height: 175px; }
.admin #admin_controls {
  margin-top: 175px;
  text-align: center; }
.admin .admin_panel {
  clear: both;
  display: block;
  margin-top: 15px; }
  .admin .admin_panel a {
    background: url(../images/icon_add.png) 0 2px no-repeat;
    padding-left: 18px; }

/* image cropping styles */
.jcrop-holder {
  text-align: left; }

.jcrop-vline, .jcrop-hline {
  font-size: 0;
  position: absolute;
  background: white url("../images/Jcrop.gif") top left repeat; }

.jcrop-vline {
  height: 100%;
  width: 1px !important; }

.jcrop-hline {
  width: 100%;
  height: 1px !important; }

.jcrop-handle {
  font-size: 1px;
  width: 7px !important;
  height: 7px !important;
  border: 1px #eeeeee solid;
  background-color: #333333;
  *width: 9px;
  *height: 9px; }

.jcrop-tracker {
  width: 100%;
  height: 100%; }

.custom .jcrop-vline, .custom .jcrop-hline {
  background: yellow; }

.custom .jcrop-handle {
  border-color: black;
  background-color: #c7bb00;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
