body,html {
margin:0;
padding:0;
background-color:#FFF;
color:#999;
font-size:11px;
font-family:Arial,Helvetica,sans-serif;
}
img {
border:0;
}
a,a:link,a:visited {
color:#999;
text-decoration:none;
outline:0;
}
a:hover {
text-decoration:underline;
}
p {
margin:15px 0 0 0;
padding:0;
}
.bullet {
background:url(../img/bullet.gif) 38px 6px no-repeat;
display:block;
padding-left:46px;
}
#content {
margin:0 auto;
padding-bottom:100px;
position:relative;
width:950px;
z-index:50;
}
#header {
background: #fff;
float:left;
position:fixed;
padding:24px 0 12px 22px;
width:928px;
z-index: 900;
}
#header #logos {
float:left;
}
#header #logos img {
display:block;
margin-bottom:2px;
}
#header #email {
	display: block;
	height: 18px;
}
#header #email img {
	opacity: 0.2;
	filter: alpha(opacity = 20);
}
#header #email:hover img {
	opacity: 1.0;
	filter: alpha(opacity = 100);
}
#header #rnav {
clear:none;
float:right;
margin-right:7px;
position:relative;
top:38px;
width:370px;
}
#rnav ul {
list-style:none;
margin:0;
padding:0;
}
#rnav li {
cursor:pointer;
float:left;
margin:0 0 0 10px;
overflow:hidden;
padding:0;
position:relative;
}
#rnav li img {
	opacity: 0.4;
	filter: alpha(opacity = 40);
}
#rnav li:hover img, #rnav li a:hover img,#rnav .current a img {
opacity: 1.0;
filter: alpha(opacity = 100);
}
#rnav #contact {
overflow:visible;
}
#rnav li ul {
background-color:#fff;
height:0;
overflow:hidden;
padding: 14px 0 0;
position:absolute;
top:16px;
left:-6px;
width:90px;
}
#rnav li ul li {
float:none;
margin:3px;
padding: 3px 14px 4px;
overflow:hidden;
}
#rnav li ul li img, #rnav li:hover ul li img {
	float: right;
	opacity: 0.4;
	filter: none
}
#rnav li ul li:hover {
	background-color: #ccc;
}
#rnav li ul li:hover img {
	opacity: 1.0;
	filter: none;
}
.csstransitions #rnav #contact:hover ul {
	height: 74px;
}
#rnav #contact ul {
	transition: height .3s;
	-moz-transition: height .3s;
	-webkit-transition: height .3s;
	-o-transition: height .3s;
}
.banner {
	margin-top: 90px;
}
#work {
float:left;
padding:0 14px 100px 14px;
width:922px;
}
#work .project {
display:inline;
float:left;
height:168px;
margin:24px 14px 8px;
position:relative;
width:125px;
}
#work .project .title,#work .project .description {
display:none;
}
#work .project img {
position:absolute;
z-index:10;
}
#work .project img.on {
	display: none;
	z-index:100;
}
.csstransitions #work .project img.on {
display: block;
opacity: 0.0;
filter: alpha(opacity = 0);
transition: opacity .6s;
-moz-transition: opacity .6s;
-webkit-transition: opacity .6s;
-o-transition: opacity .6s;
}
.csstransitions #work .project:hover img.on {
	opacity: 1.0;
	filter: alpha(opacity = 100);
}
#about,#accomplish {
float:left;
margin-top:19px;
padding:0 43px 100px 43px;
width:864px;
}
#accomplish ul {
list-style:none;
margin:12px 0 0 0;
padding:0;
}
#accomplish li {
background:url(../img/bullet.gif) 0 5px no-repeat;
margin:0 0 20px 0;
padding:0 0 0 8px;
}
#jquery-overlay {
position:fixed;
top:0;
left:0;
z-index:90;
width:100%;
height:100%;
min-height:100%;
}
* html #jquery-overlay {
position:absolute;
}
#jquery-lightbox {
position:absolute;
top:0;
left:0;
width:100%;
z-index:100;
text-align:center;
line-height:0;
}
#jquery-lightbox a img {
border:0;
}
#lightbox-container-image-box {
position:relative;
background-color:#fff;
width:250px;
height:250px;
margin:0 auto;
}
#lightbox-container-image {
margin:10px;
}
#lightbox-loading {
position:absolute;
top:40%;
left:0;
height:25%;
width:100%;
text-align:center;
line-height:0;
}
#lightbox-nav {
float: right;
margin: 0;
position: relative;
z-index:10;
}
#lightbox-container-image-box>#lightbox-nav {
left:0;
}
#lightbox-nav a {
outline:0;
}
#lightbox-nav-btnPrev,#lightbox-nav-btnNext {
float:left;
height:11px;
margin:0 4px;
width:6px;
}
#lightbox-container-image-data-box {
font:11px Arial,Helvetica,sans-serif;
background-color:#fff;
margin:0 auto;
overflow:auto;
position:relative;
width:100%;
padding: 0 10px 8px;
}
#lightbox-container-image-data {
padding:0 10px;
color:#666;
}
#lightbox-imgTitle {
clear:none;
float:left;
font-size:13px;
margin:14px 0 0 10px;
text-align:left;
width:50%;
}
#lightbox-image {
margin-top:5px;
}
#lightbox-image-details-caption {
font-weight:bold;
}
#lightbox-image-details-currentNumber {
display:block;
clear:left;
margin-top:0;
padding-bottom:1.0em;
width:100%;
}
#lightbox-secNav-btnClose {
width:10px;

float:right;
margin:8px 8px 4px 0;
}
